$Footer__height: 561px;
$hoverColor: #ff974e;
$black: #45413e;
$white: #f5f5f5;
$blue: #1f99e5;
$overlayColor: rgba(0, 0, 0, 0.5);
@import "../bower/normalize-scss/_normalize";
@import "modules/mixin";
@import "modules/adjustment";
@import "../../Fonts/fonts";
@import "modules/header";
@import "modules/content";
@import "modules/footer";
@import "modules/catalog";
@import "modules/cart";
@import "modules/Product_card";
@import "modules/contact";
@import "modules/about";
@import "modules/login";
@import "modules/signUp";
@import "modules/checkout";
@import "modules/slider";
