<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="../img/ico/favication.ico">
	<link rel="stylesheet" href="../style.min.css">
	<title>О нас</title>
</head>

<body>
	<div class="Wrapper">
		<div class="About">
			<div class="Container">
				<h1 class="About__title">О нас</h1>
				<div class="About__slider">
					<div class="About__slider__Arrow previus"></div>
					<ul class="About__slider__list">
						<li class="About__slider__item About__slider__item--active">
							<img class="About__slider__img" src="../img/misc/about.png" alt="about">
						</li>
						<li class="About__slider__item">
							<img class="About__slider__img" src="../img/misc/about2.png" alt="about">
						</li>
						<li class="About__slider__item">
							<img class="About__slider__img" src="../img/misc/about3.png" alt="about">
						</li>
						<li class="About__slider__item">
							<img class="About__slider__img" src="../img/misc/about.png" alt="about">
						</li>
						<li class="About__slider__item">
							<img class="About__slider__img" src="../img/misc/about2.png" alt="about">
						</li>
					</ul>
					<div class="About__slider__Arrow next"></div>
					<div class="About__slider__text">Мы предоставляем только лучшее для вас</div>
				</div>
				<div class="About__video">
					<h1 class="About__videoTitle">Посмотрите ролик про то как мы работаем</h1>
					<div class="About__video__box">
						<video class="About__videoPlayer" src="../video/LinkinPark.mp4"></video>
						<div class="About__video__controls">
							<div class="Controls__timeLine">
								<div class="Controls__progressLine"></div>
							</div>
							<div class="Controls__playPause"></div>
							<div class="Controls__volome"></div>
							<div class="Controls__volome__line">
								<div class="Controls__volome__lineDot"></div>
							</div>
							<div class="Controls__time">
								<div class="Controls__pastTime">0:00</div>
								<div class="Controls__separator">&nbsp;/&nbsp;</div>
								<div class="Controls__duration"></div>
							</div>
							<div class="Controls__fullscreen"></div>
						</div>
					</div>
				</div>
				<div class="About__reviews">
					<h1 class="About__reviews__Title">Что говорят про нас наши клиенты</h1>
					<div class="About__reviews__Box">
						<div class="About__reviews__Client">
							<div class="About__reviews__Photo">
								<img class="About__reviews__PhotoImg" src="../img/misc/gilyazev.jpg" alt="ClientPhoto">
							</div>
							<div class="About__reviews__Name">Рустам</div>
						</div>
						<div class="About__reviews__Desc">
							<div class="About__reviews__Text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Libero perferendis sit consectetur amet nulla? Tempora eius fugiat molestiae culpa
								dolores vitae sequi ea rerum consequatur, qui nisi nemo, tenetur asperiores?</div>
						</div>
						<div class="About__reviews__Dots">
							<div class="About__reviews__Dot About__reviews__Dot--active"></div>
							<div class="About__reviews__Dot"></div>
							<div class="About__reviews__Dot"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/plugins/JQuery.js"></script>
	<script src="/js/about-min.js"></script>
</body>

</html>
