<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Обратная связь</title>
	<link rel="shortcut icon" href="../img/ico/favication.ico">
	<link rel="stylesheet" href="../style.min.css">
</head>

<body>
	<div class="Wrapper">
		<div class="Contact">
			<div class="Container">
				<h1 class="Contact__title">Обратная связь</h1>
				<div class="Contact__box">
					<form>
						<div class="Name">
							<label for="name">Имя</label>
							<input type="text" id="name">
						</div>
						<div class="Email">
							<label for="mail">E-mail</label>
							<input type="text" id="mail">
						</div>
						<div class="Subject">
							<label for="subject">Тема</label>
							<input type="text" id="subject">
						</div>
						<div class="Message">
							<label for="message">Сообщение</label>
							<textarea id="message"></textarea>
						</div>
						<button class="Contact__btn">Отправить</button>
					</form>
					<div class="Contact__desc">
						<h2 class="Contact__desc__Title">Наш оффис</h2>
						<ul class="Contact__desc__List">
							<li class="Contact__desc__Item">
								<span class="Adress">Воронеж, ул. Кропоткина, д. 11А</span>
							</li>
							<li class="Contact__desc__Item">
								<span class="Phone__title">Тел:</span>
								<span>+7 (489) 785-45-45</span>
							</li>
							<li class="Contact__desc__Item">
								<span class="Email__title">E-mail:</span>
								<span>rustam_lord@inbox.ru</span>
							</li>
						</ul>
						<ul class="SocialList">
							<li class="Social__item vk"></li>
							<li class="Social__item in"></li>
							<li class="Social__item tg"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/plugins/JQuery.js"></script>
	<script src="/js/contact-min.js"></script>
</body>

</html>
