<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="../img/ico/favication.ico">
	<link rel="stylesheet" href="../style.min.css">
	<title>Регистрация</title>
</head>

<body>
	<div class="Wrapper">
		<div class="SignUp">
			<div class="Container">
				<h1 class="SignUp__title">Регистрация</h1>
				<form>
					<div class="SignUp__name">
						<label for="name">Имя</label>
						<input class="SignUp__input" id="name" type="text">
					</div>
					<div class="SignUp__surname">
						<label for="surname">Фамилия</label>
						<input class="SignUp__input" id="surname" type="text">
					</div>
					<div class="SignUp__patronymic">
						<label for="patronymic">Отчество</label>
						<input class="SignUp__input" id="patronymic" type="text">
					</div>
					<div class="SignUp__email">
						<label for="email">Email</label>
						<input class="SignUp__input" id="email" type="text">
					</div>
					<div class="SignUp__tel">
						<label for="tel">Номер телефона</label>
						<input class="SignUp__input" id="tel" type="tel">
					</div>
					<div class="SignUp__login">
						<label for="login">Логин</label>
						<input class="SignUp__input" id="login" type="text">
					</div>
					<div class="SignUp__password">
						<label for="password">Пароль</label>
						<input class="SignUp__input" id="password" type="password" autocomplete="off">
					</div>
					<div class="SignUp__password">
						<label for="password2">Подтвердите пароль</label>
						<input class="SignUp__input" id="password2" type="password" autocomplete="off">
					</div>
					<button class="SignUp__btn" type="submit">Зарегистрироваться</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
